<div class="body">
  <div class="header">
    <h1>1 day chat app</h1>
    <p>All messages will be deleted at every 00:00 UTC.</p>
  </div>
  <div class="container">
    <div>
      <chat-select-user (selectedUser)="setSelectedUser($event)"></chat-select-user>
      <chat-select-channel (selectedChannel)="setSelectedChannel($event)"></chat-select-channel>
    </div>
    <div>
      <chat-wrapper-header [channel]="channel"></chat-wrapper-header>
      <div>
        <!-- read old messages --> 
        <div *ngIf="messages && messages.length > 0">
          <chat-readmore-button [old]="true" (readMoreMessage)="readMoreMessages($event)"></chat-readmore-button>
        </div>
        <!-- message box -->
        <div>
          <chat-wrapper-messages [messages]="messages" [user]="user"></chat-wrapper-messages>
        </div>
        <!-- read new messages -->
        <div *ngIf="messages && messages.length > 0">
          <chat-readmore-button [old]="false" (readMoreMessage)="readMoreMessages($event)"></chat-readmore-button>
        </div>
        <!-- textarea -->
        <div>
          <chat-wrapper-textarea class="w-full" (userMessage)="postUserMessage($event)" [chatDetails]="chatDetails" class="w-full"></chat-wrapper-textarea>
        </div>
      </div>
    </div>
  </div>
</div>